.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcomeText{
  font-size: 2em;
  font-weight: bold;
  color: rgb(224, 18, 18);
  margin-bottom: 1em;
}
.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 200px;
  width: 100%;
}
.loginContainer{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.btn-container {
  width: max-content;
  background: #ddd;
  padding: 1.5rem 2rem;
  box-shadow: 0px 0px 10px 3px rgba(201, 201, 201, 0.5);
  border-radius: .5rem;
  display:flex;
}
.btn {
  margin: 0.5em;
  font-size: .8rem;
  padding: .5rem 2rem;
  border-radius: 3rem;
  box-shadow: none;
  border: 1px solid #523249;
  /* color: #fff; */
  text-transform: uppercase;
  cursor: pointer;
  min-width: 130px;
  transition: all .35s ease-in;
  font-weight: 900;
  color: #fff;
}

.btn:hover {
  color: #000;
}

#btn-hello {
  background: #04A777;
}

#btn-hello:hover {
  background: #6af0c8;
}

#btn-bye {
  background: #881600;
  /*815355;*/
}

#btn-bye:hover {
  background: #FFA69E;
}
.card {
  height:400px;
  width: 300px;
  display: flex;
  border-radius: 40px;
  transition: .5s;
  flex-direction: column;
  align-items: center;
  background-color: rgb(216, 216, 216);
 
}

.card:last-child {
  margin-bottom: 0;
}

.card:hover{
  transition: .3s;
  transform: translateY(-10%);
}

.card-title {
  text-align: center;
  font-size: 3rem;
  /* margin-bottom: 9rem; */
  font-weight: 600;
  color: rgb(16, 131, 12);
}
.card-1 {
  box-shadow: 2px 2px 4px #000 ,-1px 0px 10px 0 rgb(119, 117, 117);
}
.title-sub{
  font-size: 7.6rem;
  font-weight: 600;
  color: rgb(16, 131, 12);
  text-align: center;
}
.counterContainer{
  margin-bottom: 4.6rem;
}
.card:hover .card-title{
  color: rgb(36, 52, 202);
}
.card:hover{
  background-color: rgb(255, 255, 255);
}